.statement div.item {
    width: 40px;
    font-size: 56px;
    top: 20px;
    padding-top: 10px;
}

.item {
    padding: 0;
    line-height: 28px;
    font-size: 17px;
    color: #3D3D3D;
    flex: 0;
}