.mc-wrapper {
    display: flex;
    flex-direction: column;
}

.mc-option {
    font-size: 19px;
    width: 200px;
    margin-top: 10px;
    border: black solid 1px;
    padding: 5px 10px;
    background-color: lightgrey;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.3s;
}

.mc-option:hover {
    background-color: darkgray;
}

.mc-option li {
    padding-left: 10px;
}

.mc-option span {
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 0 5px;
}