.question {
    font-size: 20px;
    color: #3D3D3D;
    line-height: 140%;
    padding-left: 50px;
    align-self: flex-start;
    // flex-basis: 90%;
    flex: 20;
}

.statement .question {
    padding-left: 10px;
    flex-basis: 70%;
}