.textfield {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
    outline: none;
    padding-top: 20px;
    font-size: 24px;
    line-height: 30px;
    width: 100%;
}


.longtext {
    overflow-y: hidden;
    height: 30px;
    resize: none;
    word-wrap: normal;
}