.form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 40px;
}

.item-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    flex-basis: 100%;
    // border: 10px solid goldenrod;
    // justify-content: center;
}

.component-wrapper {
    display: flex;
    flex-wrap: wrap;
}

