.content {
    padding: 27px 27px 0 55px;
    flex-basis: 100%;
    /* border: 1px solid red; */
    max-width: 500px;
}

@media all and (max-width: 400px) {
    .content {
        justify-content: center;
    }
}