.mc-option {
    color: rgb(77, 118, 134);
    font-size: 19px;
    width: 166px;
    margin-top: 10px;
    border: rgb(77, 118, 134) solid 1px;
    padding: 5px 10px;
    background-color: rgb(245, 251, 253);
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: all 0.3s;
}

.mc-option:hover {
    background-color: rgb(196, 227, 238);
    cursor: pointer;
}

.mc-option li {
    padding-left: 10px;
}

.mc-option span {
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 0 5px;
    background-color: rgb(195, 217, 224);
}

.mc-option img {
    width: 100px;
    height: 100px;
    flex-basis: 100%;
}