.question {
    font-size: 20px;
    color: #3D3D3D;
    line-height: 140%;
    padding-left: 45px;
    flex: 10;
    /* border: 1px solid red; */
}

@media all and (max-width: 400px) {
    .question {
        padding-left: 0;
        text-align: center;
    }
}